rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /registrations/{document=**} {
      allow create: if true;
      allow read: if true; // TODO: Lock this down to Admin only
      allow update, delete: if false; 
    }
    match /teacher_applications/{document=**} {
      allow create: if true;
      allow read: if true; // TODO: Lock this down to Admin only
      allow update, delete: if false;
    }
  }
}
